In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv("ws.csv")

In [12]:
df

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same        yes
1  Sunny    Warm     High  Strong  Warm     Same        yes
2  Rainy    Cold     High  Strong  Warm   Change         no
3  Sunny    Warm     High  Strong  Cool   Change        yes

In [13]:
features = np.array(df)[:,:-1]

In [14]:
features

array([['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same'],
       ['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change']],
      dtype=object)

In [15]:
target = np.array(df)[:,-1]

In [16]:
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [23]:
h= None
for i in range(len(target)):
    if target[i] == 'yes':
        h=features[i].copy()
        break

In [24]:
h

array(['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same'], dtype=object)

In [25]:
for i in range(len(features)):
    if target[i]=='yes':
        for x in range(len(h)):
            if features[i][x] != h[x]:
                h[x] = '?'

In [21]:
h

array(['Sunny', 'Warm', '?', 'Strong', '?', '?'], dtype=object)

In [26]:
import numpy as np
import pandas as pd

In [27]:
df = pd.read_csv("ws.csv")
df

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same        yes
1  Sunny    Warm     High  Strong  Warm     Same        yes
2  Rainy    Cold     High  Strong  Warm   Change         no
3  Sunny    Warm     High  Strong  Cool   Change        yes

In [28]:
f = np.array(df)[:,:-1]
f

array([['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same'],
       ['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change']],
      dtype=object)

In [29]:
t = np.array(df)[:,-1]
t

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [30]:
h = None

In [31]:
for i in range(len(t)):
    if t[i]=='yes':
        h = f[i].copy()
        break

In [32]:
h

array(['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same'], dtype=object)

In [39]:
for i in range(len(f)):
    if t[i] == 'yes':
        for x in range(len(h)):
            if f[i][x] != h[x]:
                h[x] = '?'

In [40]:
h

array(['Sunny', 'Warm', '?', 'Strong', '?', '?'], dtype=object)

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("ws.csv")
df.head()

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same        yes
1  Sunny    Warm     High  Strong  Warm     Same        yes
2  Rainy    Cold     High  Strong  Warm   Change         no
3  Sunny    Warm     High  Strong  Cool   Change        yes

In [3]:
f = np.array(df)[:,:-1]
t = np.array(df)[:,-1]

In [4]:
h = None
for i in range(len(t)):
    if t[i]=='yes':
        h = f[i].copy()
        break
h

array(['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same'], dtype=object)

In [1]:
for i in range(len(f)):
    if t[i]=='yes':
        for x in range(len(h)):
            if f[i][x] != h[x]:
                h[x] == ''

NameError: name 'f' is not defined

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("ws.csv")

In [4]:
df

     Sky AirTemp Humidity    Wind Water Forecast EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same        yes
1  Sunny    Warm     High  Strong  Warm     Same        yes
2  Rainy    Cold     High  Strong  Warm   Change         no
3  Sunny    Warm     High  Strong  Cool   Change        yes

In [5]:
f = np.array(df)[:,:-1]
f

array([['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same'],
       ['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change']],
      dtype=object)

In [6]:
t = np.array(df)[:,-1]

In [7]:
t

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [8]:
h = None

In [9]:
for i in range(len(t)):
    if t[i]=='yes':
        h = f[i].copy()
        break

In [10]:
h

array(['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same'], dtype=object)

In [11]:
for i in range(len(f)):
    if t[i] == 'yes':
        for x in range(len(h)):
            if f[i][x] != h[x]:
                h[x] = '?'

In [12]:
h

array(['Sunny', 'Warm', '?', 'Strong', '?', '?'], dtype=object)

In [13]:
import numpy as np
import pandas as pd

df = pd.read_csv("ws.csv")
df

f = np.array(df)[:,:-1]
t = np.array(df)[:,-1]

h = None

for i in range(len(t)):
    if t[i] == 'yes':
        h = f[i].copy()
        break
        
for i in range(len(f)):
    if t[i] == 'yes':
        for x in range(len(h)):
            if f[i][x] != h[x]:
                h[x] ='?'
h

array(['Sunny', 'Warm', '?', 'Strong', '?', '?'], dtype=object)

In [17]:
import numpy as np
import pandas as pd

df = pd.read_csv("ws.csv")

f = np.array(df)[:,:-1]

t = np.array(df)[:,-1]

h = None

for i in range(len(t)):
    if t[i] == 'yes':
        h = f[i].copy()
        break

for i in range(len(t)):
    if t[i] == 'yes':
        for x in range(len(h)):
            if f[i][x] != h[x]:
                h[x] = '?'
h

array(['Sunny', 'Warm', '?', 'Strong', '?', '?'], dtype=object)